In [1]:
import numpy as np
import pandas as pd

In [2]:
url='https://raw.githubusercontent.com/Manoj-A-Thomas/data/data/diabetes-data-preprocessed.csv'
names=['preg','plas','pres','skin','test', 'mass', 
       'pedi','age','class']
dpp = pd.read_csv(url,names=names)

In [3]:
dpp.shape

(768, 9)

In [4]:
dpp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
preg     768 non-null int64
plas     768 non-null int64
pres     768 non-null int64
skin     768 non-null int64
test     768 non-null int64
mass     768 non-null float64
pedi     768 non-null float64
age      768 non-null int64
class    768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
dpp.sample(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>preg</th>
      <th>plas</th>
      <th>pres</th>
      <th>skin</th>
      <th>test</th>
      <th>mass</th>
      <th>pedi</th>
      <th>age</th>
      <th>class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>765</th>
      <td>5</td>
      <td>121</td>
      <td>72</td>
      <td>23</td>
      <td>112</td>
      <td>26.2</td>
      <td>0.245</td>
      <td>30</td>
      <td>0</td>
    </tr>
    <tr>
      <th>483</th>
      <td>0</td>
      <td>84</td>
      <td>82</td>
      <td>31</td>
      <td>125</td>
      <td>38.2</td>
      <td>0.233</td>
      <td>23</td>
      <td>0</td>
    </tr>
    <tr>
      <th>594</th>
      <td>6</td>
      <td>123</td>
      <td>72</td>
      <td>45</td>
      <td>230</td>
      <td>33.6</td>
      <td>0.733</td>
      <td>34</td>
      <td>0</td>
    </tr>
    <tr>
      <th>714</th>
      <td>3</td>
      <td>102</td>
      <td>74</td>
      <td>0</td>
      <td>0</td>
      <td>29.5</td>
      <td>0.121</td>
      <td>32</td>
      <td>0</td>
    </tr>
    <tr>
      <th>0</th>
      <td>6</td>
      <td>148</td>
      <td>72</td>
      <td>35</td>
      <td>0</td>
      <td>33.6</td>
      <td>0.627</td>
      <td>50</td>
      <td>1</td>
    </tr>
    <tr>
      <th>385</th>
      <td>1</td>
      <td>119</td>
      <td>54</td>
      <td>13</td>
      <td>50</td>
      <td>22.3</td>
      <td>0.205</td>
      <td>24</td>
      <td>0</td>
    </tr>
    <tr>
      <th>538</th>
      <td>0</td>
      <td>127</td>
      <td>80</td>
      <td>37</td>
      <td>210</td>
      <td>36.3</td>
      <td>0.804</td>
      <td>23</td>
      <td>0</td>
    </tr>
    <tr>
      <th>102</th>
      <td>0</td>
      <td>125</td>
      <td>96</td>
      <td>0</td>
      <td>0</td>
      <td>22.5</td>
      <td>0.262</td>
      <td>21</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>7</td>
      <td>196</td>
      <td>90</td>
      <td>0</td>
      <td>0</td>
      <td>39.8</td>
      <td>0.451</td>
      <td>41</td>
      <td>1</td>
    </tr>
    <tr>
      <th>148</th>
      <td>5</td>
      <td>147</td>
      <td>78</td>
      <td>0</td>
      <td>0</td>
      <td>33.7</td>
      <td>0.218</td>
      <td>65</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>preg</th>
      <th>plas</th>
      <th>pres</th>
      <th>skin</th>
      <th>test</th>
      <th>mass</th>
      <th>pedi</th>
      <th>age</th>
      <th>class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>72</th>
      <td>13</td>
      <td>126</td>
      <td>90</td>
      <td>0</td>
      <td>0</td>
      <td>43.4</td>
      <td>0.583</td>
      <td>42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>586</th>
      <td>8</td>
      <td>143</td>
      <td>66</td>
      <td>0</td>
      <td>0</td>
      <td>34.9</td>
      <td>0.129</td>
      <td>41</td>
      <td>1</td>
    </tr>
    <tr>
      <th>107</th>
      <td>4</td>
      <td>144</td>
      <td>58</td>
      <td>28</td>
      <td>140</td>
      <td>29.5</td>
      <td>0.287</td>
      <td>37</td>
      <td>0</td>
    </tr>
    <tr>
      <th>716</th>
      <td>3</td>
      <td>173</td>
      <td>78</td>
      <td>39</td>
      <td>185</td>
      <td>33.8</td>
      <td>0.970</td>
      <td>31</td>
      <td>1</td>
    </tr>
    <tr>
      <th>269</th>
      <td>2</td>
      <td>146</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>27.5</td>
      <td>0.240</td>
      <td>28</td>
      <td>1</td>
    </tr>
    <tr>
      <th>82</th>
      <td>7</td>
      <td>83</td>
      <td>78</td>
      <td>26</td>
      <td>71</td>
      <td>29.3</td>
      <td>0.767</td>
      <td>36</td>
      <td>0</td>
    </tr>
    <tr>
      <th>534</th>
      <td>1</td>
      <td>77</td>
      <td>56</td>
      <td>30</td>
      <td>56</td>
      <td>33.3</td>
      <td>1.251</td>
      <td>24</td>
      <td>0</td>
    </tr>
    <tr>
      <th>438</th>
      <td>1</td>
      <td>97</td>
      <td>70</td>
      <td>15</td>
      <td>0</td>
      <td>18.2</td>
      <td>0.147</td>
      <td>21</td>
      <td>0</td>
    </tr>
    <tr>
      <th>761</th>
      <td>9</td>
      <td>170</td>
      <td>74</td>
      <td>31</td>
      <td>0</td>
      <td>44.0</td>
      <td>0.403</td>
      <td>43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>504</th>
      <td>3</td>
      <td>96</td>
      <td>78</td>
      <td>39</td>
      <td>0</td>
      <td>37.3</td>
      <td>0.238</td>
      <td>40</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
array = dpp.values

X = array[:, 0:8]
y = array[:,8]

In [7]:
# X.shape
y.shape

(768,)

In [9]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [12]:
# Feature selection - Filter method - chi square
test = SelectKBest(score_func=chi2, k=4)   # 4 most import target va
fit = test.fit(X,y)

In [16]:
np.set_printoptions(precision=3)
print(fit.scores_)      #test, plas, mass, age

[ 111.52  1411.887   17.605   53.108 2175.565  127.669    5.393  181.304]

In [18]:
# Scale features

features = fit.transform(X)

In [20]:
print(features[0:5, :])     # sample from predictor dataset

[[148.    0.   33.6  50. ]
 [ 85.    0.   26.6  31. ]
 [183.    0.   23.3  32. ]
 [ 89.   94.   28.1  21. ]
 [137.  168.   43.1  33. ]]

In [25]:
# Feature selection - Filter method - correlation coeff
features.dtype
features_df = pd.DataFrame(features)
features_df.corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.000000</td>
      <td>0.331357</td>
      <td>0.221071</td>
      <td>0.263514</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.331357</td>
      <td>1.000000</td>
      <td>0.197859</td>
      <td>-0.042163</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.221071</td>
      <td>0.197859</td>
      <td>1.000000</td>
      <td>0.036242</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.263514</td>
      <td>-0.042163</td>
      <td>0.036242</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
# Feature selection - Wrapper method - RFE

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [31]:
# Create the logistic regression model

model = LogisticRegression()
rfe = RFE(model, 3)     # chose top 3 featurs

fit = rfe.fit(X,y)

C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\manoj\PycharmProjects\Basics\venv\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [33]:
print("selected features; %s" %(fit.support_))
print("Feature ranking: %s" %(fit.ranking_))

# feature to include: preg, pedi, age

selected features; [ True False False False False  True  True False]
Feature ranking: [1 2 3 5 6 1 1 4]

In [38]:
# pretty funtion for the linear regression

def pretty_print_coefs(coefs, names=None, sort=False):
    if names== None:
        names = ["X%s" % x for x in range(len(coefs))]
    lst = zip(coefs, names)
    if sort:
        lst = sorted(lst, key= lambda  x:-np.abs(x[0]))
    return " + ".join("%s * %s " %(round(coef, 3), name)
                      for coef, name in lst)

In [39]:
print("Ridge model: ", pretty_print_coefs(ridge.coef_))

Ridge model:  0.021 * X0  + 0.006 * X1  + -0.002 * X2  + 0.0 * X3  + -0.0 * X4  + 0.013 * X5  + 0.145 * X6  + 0.003 * X7